google-cloud-aiplatform[adk,agent-engines]==1.104.0
google-adk==1.7.0
google-cloud-pubsub==2.31.1
python-dotenv
google-auth
tqdm
requests
llama-index
langchain-community==0.3.27
youtube-search==2.1.2
google-search-results==2.4.2