# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore local development files
*.log
*.sqlite3

# Ignore version control files
.git/
.gitignore

# Ignore temporary files
*.tmp
*.swp
*.bak
*.orig

# Ignore Docker-related files (except Dockerfile)
docker-compose.yml
.dockerignore

# Ignore backup files
*.~*

# Ignore Terraform state files
*.tfstate
*.tfstate.*.backup

# Ignore sensitive credentials
**/credentials/*.json

# Ignore results and trained models
model